.navbar {
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7%;
    transition: 0.5s;
}

.logo {
    width: 130px;
    cursor: pointer;
}

ul {
    flex: 1;
    text-align: center;
    list-style: none;
}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.toggle-icon {
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box {
    display: flex;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input {
    border: 0;
    outline: 0;
    background: transparent;
    padding: 6px;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}

.search-box input ::placeholder{
    color: #fff;
}

.search-box img{
    width: 20px;
    cursor: pointer;
}
.dark .navbar{
    background: #000;
    color: #fff;
}
.dark .search-box{
    background: #fff;
}
.dark .search-box input{
    color: #222;
}
.dark .search-box input ::placeholder{
    color: #222;
}

.profile-icon {
<<<<<<< HEAD
    position: absolute;
    right: 0;
    cursor: pointer;
    padding-right: 50px;
=======
    position: relative;
    cursor: pointer;
    padding-right: 20px;
    font-size: 1.5em;
>>>>>>> e0991dc5ea57b428012cae1dfa16175b1764b50b
}

.dropdown-menu {
    display: none;
    position: absolute;
<<<<<<< HEAD
=======
    top: 100%;
>>>>>>> e0991dc5ea57b428012cae1dfa16175b1764b50b
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.profile-icon:hover .dropdown-menu {
    display: block;
}